<div class="plugins__box">
    <ul class="plugins__list">
        @foreach (var plugin in Plugins)
        {
            <li class="plugins__item">
                <PluginEntry Value="@plugin" Clicked="@OnPluginButtonClicked"
                             ButtonClass="@ButtonClass" ButtonIcon="@ButtonIcon"/>
            </li>
        }
    </ul>
</div>

@code {

    [Parameter]
    public List<PluginDto> Plugins { get; set; }

    [Parameter]
    public EventCallback<PluginDto> PluginButtonClicked { get; set; }

    [Parameter]
    public string ButtonClass { get; set; }

    [Parameter]
    public string ButtonIcon { get; set; }

    private async Task OnPluginButtonClicked(PluginDto plugin)
    {
        if (PluginButtonClicked.HasDelegate)
        {
            await PluginButtonClicked.InvokeAsync(plugin);
        }
    }

}