@page "/"

@inject HttpClient HttpClient

@if (Base64Image != null)
{
    <img class="img__bg--fill" src="@($"data:image/jpeg;base64,{Base64Image}")" alt="Default background image to apply filters to"/>
}
else
{
    <span>Wait for image to load...</span>
}

@if (Plugins != null)
{
    <div class="overlay__plugins">
        <PluginsList Plugins="@Plugins"/>
    </div>
}

@code
{
    private string Base64Image { get; set; }
    private List<PluginDto> Plugins { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var image = await HttpClient.GetByteArrayAsync("https://localhost:44358/api/images");
        Base64Image = Convert.ToBase64String(image);

        Plugins = await HttpClient.GetFromJsonAsync<List<PluginDto>>("https://localhost:44358/api/plugins");
    }
}