.img__bg--fill {
    width: 100vw;
    height: 100vh;
}

.plugins-overlay__box {
    width: 20em;
    position: absolute;
    border-radius: 8px;
    padding: 0;
    box-shadow: #000000 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 5px;
    background: white;
    opacity: 0.25;
    transition: ease-in 0.2s;
    overflow: hidden;
}

.plugins-overlay__box:hover {
    opacity: 1;
    transition: ease-in 0.2s;
}

.plugins-overlay__box--loaded {
    bottom: 10px;
    left: 10px;
}

.plugins-overlay__box--applied {
    bottom: 10px;
    right: 10px;
}

.plugins-overlay__buttons-row {
    display: flex;
}

.plugins-overlay__button {
    flex: 1;
    color: white;
    border: none;
    padding: 0.5em;
}

.plugins-overlay__button--primary {
    background: blue;
}

.overlay__button--secondary {
    background: blue;
}

.plugins-overlay__title {
    text-align: center;
    display: block;
    padding: 0.5em;
}